---
layout: toc
title: Table of Contents
---
<div class="toc">
  <h2>Table of Contents</h2>
  <ol class="inscriptions">
    {% capture col1 %}{{ site.posts.size | divided_by:2 }} {% endcapture %}
    {% capture col2 %}{{ col1 | plus:1 }} {% endcapture %}

    {% for post in site.posts limit:col1 %}
    <li><a href="{{ post.url }}">{{ post.title | replace:"'","&#8217;"}}</a> by {{ post.author | replace:"'","&#8217;"}}</li>
    {% endfor %}
  </ol>

  <ol class="inscriptions" start="{{ col2 }}">
    {% for post in site.posts limit:col2 offset:col1 %}
    <li><a href="{{ post.url }}">{{ post.title | replace:"'","&#8217;" }}</a> by {{ post.author | replace:"'","&#8217;" }}</li>
    {% endfor %}
  </ol>

</div>
