<div class="toc">
  <h2>Index by Author </h2>

    <% auths = authors

       col1 = authors.size / 3
       col2 = col1 + 1
       col3 = col1 + col2

       rows = 60
       i = 0
    %>

    <ul class="author-index">
    <% for author in auths %>
    <li><%= apostrophize(swap_names(author)) %>
      <% i += 1 %>
      <ul>
        <% for reading in readings_for_author(author) %>
        <li><i><%= link_to(apostrophize(reading[:title]), reading) %></i></li>
        <% i += 1 %>
        <% end %>
      </ul>
    </li>
    <% if i > rows %>
    <% i = 0 %>
    </ul>
    <ul class="author-index">
    <% end %>
    <% end %>
    </ul>
</div>
