<nav id="sidebar">
  <div style="display:block;">
  <img src="/img/inscriptions.png" alt="Inscriptions"><br/>
    <%=
       more = @items.find { |i| i.identifier == '/authors-am/' }
       link_to('Complete index', more, :class => 'more-nav')
    %>
  </div>
  <%
     recent = sorted_readings[0..2]
     recent_more = @items.find { |i| i.identifier == '/chronological-recent/' }
  %>

   <%= render 'navgroup', :title => 'Most Recent', :readings => recent, :more_link => recent_more %>

   <%
     displayed = recent
     active_tags.each do |tagname, title|
       readings = sort_by_date(items_with_tag(tagname) - displayed)
       displayed += readings %>

      <%=       render 'navgroup', :title => title, :readings => readings, :more_link => "/tags/#{tagname}" %>
     <% end %>


  <br/>
</nav>
