  <h3><%= @title %></h3>
  <ol class="inscriptions">
    <% readings[0..2].each do |reading| %>
    <li>
      <%= link_to(reading[:title].gsub("'", '&#8217;'), reading.path) %><br/>
      <span class="byline">by <%= reading[:author].gsub("'", '&#8217;') %></span></li>
    <% end %>
    <li><span class="byline">see more</span></li>
  </ol>
