  <h3><%= @title %></h3>
  <ol class="inscriptions">
    <% readings[0..2].each do |reading| %>
    <li>
      <%= link_to(apostrophize(reading[:title]), reading.path, :class => 'reading') %><br/>
      <span class="byline">by <%= apostrophize(reading[:author]) %></span></li>
    <% end %>
    <li><span class="byline">
        <%= link_to('See more...', '#') %>
    </span></li>
  </ol>
