<div class="toc">
  <%= render 'topnav' %>
  <h2><%= @item[:tag].capitalize %></h2>

 <% readings = items_with_tag(@item[:tag])
  if readings.size > 6
    cols = 3
  else
    cols = 1
  end
  rows = readings.size / cols
  i = 0
  %>
  <ul class="inscriptions">

    <% for reading in readings %>
    <li><%= link_to apostrophize(reading[:title]), reading %>
      <br/><%= apostrophize(reading[:author]) %>
    </li>
    <% i += 1 %>
    <% if i % (rows + 1) == 0 %>
  </ul>
  <ul class="inscriptions">
    <% end %>
    <% end %>
  </ul>
</div>
