---
layout: default
---

{% include nav.html %}

<article>
  <p class="download">
    <a target="_blank" href="https://s3.amazonaws.com/spokenrune/{{ page.filename }}.mp3">
      <img src="/img/download.png">
    </a>
  </p>

  <img class="art" alt="{{ page.title }} Image" src="{{ page.image_url }}" />

  <div class="info">
  {{ content }}
  </div>

  <script defer="defer" type="text/javascript">
    $(document).ready( function () {
    var cues = {
    {% for cue in page.cues %}
        '{{cue[0]}}': '{{cue[1]}}',
    {% endfor %}
    }

    createPlayer("{{ page.filename }}", cues) // Inside the anonymous function we are cool.
    });

  </script>
</article>
